<!doctype html>
<html lang="en">

<head>
	<title>Vest</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="assets/img/logo.png" width="100px" alt="Vest desk Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success" title="Sair" target="_blank"><i class="fa fa-rocket"></i> <span>Sair</span></a>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Erick</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="#" class=""><i class="lnr lnr-home"></i> <span>Início</span></a></li>
						<li><a href="pedidos.html" class=""><i class="lnr lnr-code"></i> <span>Pedidos</span></a></li>
						<li><a href="producao.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Producao</span></a></li>
						<li><a href="venda.html" class=""><i class="lnr lnr-cog"></i> <span>Venda</span></a></li>
						<li><a href="concluir.html" class=""><i class="lnr lnr-alarm"></i> <span>Concluir</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="active"><i class="lnr lnr-file-empty"></i> <span>Estoque</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse in">
								<ul class="nav">
									<li><a href="#" class="active">Produtos</a></li>
									<li><a href="#" class="">Material</a></li>
								</ul>
							</div>
						</li>
						<li><a href="cliente.html" class=""><i class="lnr lnr-dice"></i> <span>Cliente</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div class="panel panel-profile">
						<div class="clearfix">
							<!-- RIGHT COLUMN -->
							<div class="container">
								<h2 class="heading">Realizar Pedido</h2>
								<!-- TABBED CONTENT -->
								<div class="custom-tabs-line tabs-line-bottom left-aligned">
									<ul class="nav" role="tablist">
										<li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">Informações</a></li>
										<li><a role="tab" href="#tab-bottom-left2" data-toggle="tab">Produtos</a></li>
									</ul>
								</div>
								<div class="tab-content">
									<div class="tab-pane fade in active" id="tab-bottom-left1">
										<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title"><b>Carregar Pedido</b></h3>
											</div>
											<div class="panel-body">
												<div class="row">
													<div class="col-md-8">
														<div class="input-group">
															<input class="form-control" type="text" placeholder="Cliente">
															<span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="input-group">
															<input class="form-control" type="text" placeholder="Nº Pedido">
															<span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title"><b>Novo Pedido</b></h3>
												<p class="panel-subtitle">Previsão: 07/07/2018</p>
											</div>
											<div class="panel-body">
												<div class="row">
													<div class="col-md-12">
														<label>Erick Moreira (Vendedor)</label>
													</div>
												</div>
												<br />
												<div class="row">
													<div class="col-md-8">
														<label>Nome</label>
														<div class="input-group">
															<input class="form-control" type="text" placeholder="Cliente">
															<span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></span>
														</div>
													</div>
													<div class="col-md-2">
														<label>Cadastrar</label>
														<button type="button" class="btn btn-primary btn-block">Novo Cliente</button>
													</div>
													<div class="col-md-2">
														<label>Tipo</label>
														<select class="form-control">
															<option value="0" >Produção</option>
															<option value="1" >Venda</option>
															<option value="2" >Outro</option>
														</select>
													</div>
												</div>
												<br/>
												<div class="row">
													<div class="col-md-4">
														<label>Modelo</label>
														<select class="form-control" id="modeloEscolhido" required>
															<option></option>
															<option value="1" >Moletom</option>
															<option value="2" >Polo</option>
														</select>
													</div>
													<div class="col-md-2">
														<div class="input-group">
															<label>Quantidade</label>
															<input class="form-control" type="number" id="quantidadeModelo" required>
														</div>
													</div>
													<div class="col-md-2">
														<div class="input-group">
															<label>Preço Sugerido</label>
															<input class="form-control" type="text" placeholder="R$ 20,00" disabled>
														</div>
													</div>
													<div class="col-md-2">
														<div class="input-group">
															<label>Preço Venda</label>
															<input class="form-control" type="number" id="precoModelo" value="20.00" required>
														</div>
													</div>
													<div class="col-md-2">
														<label>Layout</label>
														<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalLayout">Imagem</button>
													</div>
												</div>
												<br />
												<div class="row">
													<div class="col-md-3">
														<label>Frente</label>
														<label class="fancy-radio">
															<input name="tipoFrente" value="fSil" type="radio">
															<span><i></i>Silcado</span>
														</label>
														<label class="fancy-radio">
															<input name="tipoFrente" value="fBor" type="radio">
															<span><i></i>Bordado</span>
														</label>
														<input class="form-control" type="text">
													</div>
													<div class="col-md-3">
														<label>Costa</label>
														<label class="fancy-radio">
															<input name="tipoCosta" value="cSil" type="radio">
															<span><i></i>Silcado</span>
														</label>
														<label class="fancy-radio">
															<input name="tipoCosta" value="cBor" type="radio">
															<span><i></i>Bordado</span>
														</label>
														<input class="form-control" type="text">
													</div>
													<div class="col-md-3">
														<label>Manga Direita</label>
														<label class="fancy-radio">
															<input name="tipoMd" value="dSil" type="radio">
															<span><i></i>Silcado</span>
														</label>
														<label class="fancy-radio">
															<input name="tipoMd" value="dBor" type="radio">
															<span><i></i>Bordado</span>
														</label>
														<input class="form-control" type="text">
													</div>
													<div class="col-md-3">
														<label>Manga Esquerda</label>
														<label class="fancy-radio">
															<input name="tipoMe" value="eSil" type="radio">
															<span><i></i>Silcado</span>
														</label>
														<label class="fancy-radio">
															<input name="tipoMe" value="eBor" type="radio">
															<span><i></i>Bordado</span>
														</label>
														<input class="form-control" type="text">
													</div>
												</div>
												<br />
												<div class="row">
													<div class="col-md-2">
														<button class="btn btn-primary btn-block" id="btnInserir">Inserir Modelo</button>
													</div>
												</div>
											</div>
										</div>
										<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title"><b>Tabela Modelos</b></h3>
											</div>
											<div class="panel-body">
												<div class="row">
													<div class="panel-body">
														<div class="table-responsive">
															<table class="table table-striped project-table" id="tabelaModelos">
																<thead>
																	<tr>
																		<th width="50%">Modelo</th>
																		<th width="20%">Preço</th>
																		<th width="20%">Layout</th>
																		<th width="10%">Quantidade</th>
																	</tr>
																</thead>
																<tbody>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
										<!-- <div class="margin-top-30 text-center"><a class="btn btn-primary" href="#tab-bottom-left2" data-toggle="tab" id="btnAvancar">Avançar</a></div> -->
									<div class="tab-pane fade" id="tab-bottom-left2">
										<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title"><b>Padrão</b></h3>
											</div>
											<div class="panel-body">
												<div class="row">
													<div class="col-md-3">
														<div class="form-group">
															<label>Curso</label>
															<input class="form-control" type="text" id="cursoPadrao">
														</div>
													</div>
													<div class="col-md-3">
														<div class="form-group">
															<label>Modelo</label>
															<select class="form-control" id="modeloPadrao">
																<option></option>
																<option value="1" >Moletom</option>
																<option value="2" >Polo</option>
															</select>
														</div>
													</div>
													<div class="col-md-3">
														<div class="form-group">
															<label>Cor</label>
															<input class="form-control" type="text" id="corPadrao">
														</div>
													</div>
													<div class="col-md-3">
														<div class="form-group">
															<label>Quantidade</label>
															<input class="form-control" type="number" maxlength="6" id="quantidadePadrao">
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title"><b>Individual</b></h3>
											</div>
											<div class="panel-body">
												<div class="row">
													<div class="col-md-5">
														<div class="form-group">
															<label>Nome Responsável</label>
															<input class="form-control" type="text" id="responsavelIndividual" placeholder="Cliente">
														</div>
													</div>
													<div class="col-md-5">
														<div class="form-group">
															<label>Nome Camisa</label>
															<input class="form-control" id="camisaIndividual" type="text">
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label>Telefone</label>
															<input class="form-control" id="telefoneIdividual" type="text" maxlength="11" >
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3">
														<div class="form-group">
															<label>Curso</label>
															<input class="form-control" type="text" id="cursoIndividual">
														</div>
													</div>
													<div class="col-md-3">
														<div class="form-group">
															<label>Modelo</label>
															<select class="form-control" id="modeloIndividual">
																<option></option>
																<option value="1" >Moletom</option>
																<option value="2" >Polo</option>
															</select>
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label>Tamanho</label>
															<input class="form-control" type="text" id="tamanhoIndividual" maxlength="2">
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label>Cor</label>
															<input class="form-control" type="text" id="corIndividual">
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label>Quantidade</label>
															<input class="form-control" type="number" maxlength="6" id="quantidadeIndividual">
														</div>
													</div>
													
												</div>
												<div class="row">
												<div class="col-md-2">
														<button class="btn btn-default btn-block" id="btnInserirAdiantamento">Adiantamento</button>
													</div>
													<div class="col-md-2">
														<button class="btn btn-primary btn-block" id="btnInserirIndividual">Inserir</button>
													</div>
												</div>
											</div>
										</div>
										<div class="panel">
											<div class="panel-heading">
												<h3 class="panel-title"><b> Tabela Individual</b></h3>
											</div>
											<div class="panel-body">
												<div class="table-responsive">
													<table class="table table-striped project-table" id="tabelaIndividual">
														<thead>
															<tr>
																<th>Nome</th>
																<th>Camisa</th>
																<th>Telefone</th>
																<th>Curso</th>
																<th>Modelo</th>
																<th>Detalhes</th>
															</tr>
														</thead>
														<tbody>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- END TABBED CONTENT -->
							</div>
							<!-- END RIGHT COLUMN -->
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
			</div>
		</footer>
	</div>

	<div class="modal fade" id="modalImagem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">				
				<div class="modal-body">
					<center>
						<img src="assets/img/blusa.png" width="200">					
					</center>
				</div>
			</div>
		</div>		
	</div>			
	
	<div class="modal fade" id="modalLayout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">				
				<div class="modal-header">
					
					<div class="row">
						<div class="col-md-7">
							<div class="form-group">
								<h4 class="modal-title" id="myModalLabel">Buscar Imagem</h4>
							</div>
						</div>
						<div class="col-md-5">
							<div class="input-group">
								<input class="form-control" type="text" placeholder="Buscar">
								<span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button></span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-4">
							<img src="https://img.elo7.com.br/product/original/17B1547/camisa-sublimacao-poliester.jpg" width="200" height="140">
						</div>
						<div class="col-sm-4">
							<img src="https://aleatory.vteximg.com.br/arquivos/ids/343735-500-500/camisa-polo-aleatory-masculina-lisa-2018-still-5-.jpg?v=636576593005030000" alt="Cinque Terre" width="200" height="140">
						</div>
						<div class="col-sm-4">
							<img src="https://img.elo7.com.br/product/original/17B1547/camisa-sublimacao-poliester.jpg" width="200" height="140">
						</div>
						<div class="col-sm-4">
							<img src="https://aleatory.vteximg.com.br/arquivos/ids/343735-500-500/camisa-polo-aleatory-masculina-lisa-2018-still-5-.jpg?v=636576593005030000" alt="Cinque Terre" width="200" height="140">
						</div>
						<div class="col-sm-4">
							<img src="https://img.elo7.com.br/product/original/17B1547/camisa-sublimacao-poliester.jpg" width="200" height="140">
						</div>
						<div class="col-sm-4">
							<img src="https://aleatory.vteximg.com.br/arquivos/ids/343735-500-500/camisa-polo-aleatory-masculina-lisa-2018-still-5-.jpg?v=636576593005030000" alt="Cinque Terre" width="200" height="140">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<script>
	$(document).ready(function(){
	    $("#btnInserir").click(function(){
	    	var newRow = $("<tr>");
	        var cols = "";
	        cols += '<td>'+ $('#modeloEscolhido>option:selected').html(); +'</td>';
            cols += '<td>R$ '+ $('#precoModelo').val(); +'</td>';
            cols += '<td><img src="assets/img/blusa.png" alt="Avatar" class="avatar img-circle" data-toggle="modal" data-target="#modalImagem"></td>';
            cols += '<td>'+ $('#quantidadeModelo').val(); +'</td></tr>';
            newRow.append(cols);
            $("#tabelaModelos").append(newRow); 

	    });

	    $("#btnInserirIndividual").click(function(){
	    	var newRow = $("<tr>");
	        var cols = "";
            cols += '<td>'+ $('#responsavelIndividual').val() +'</td>';
            cols += '<td>'+ $('#camisaIndividual').val() +'</td>';
            cols += '<td>'+ $('#telefoneIdividual').val() +'</td>';
            cols += '<td>'+ $('#cursoIndividual').val() +'</td>';
            var modelo = 
			cols += '<td>'+ $('#modeloIndividual>option:selected').html() + ' / ' + $('#corIndividual').val() +'</td>';
            cols += '<td>'+ $('#tamanhoIndividual').val() + ' / ' + $('#quantidadeIndividual').val() +'</td>';

			// var modelo = "<ul>";
			// modelo += "<li>"+ $('#modeloIndividual>option:selected').html(); +"</li>";
			// modelo += "<li>"+ $('#corIndividual').val(); +"</li>";
			// modelo += "</ul>";
			// cols += '<td>'+modelo+'</td>';

			// var detalhes = "<ul>";
			// detalhes += "<li>"+ $('#tamanhoIndividual').val(); +"</li>";
			// detalhes += "<li>"+ $('#quantidadeIndividual').val(); +"</li>";
			// detalhes += "</ul>";
			// cols += '<td>'+detalhes+'</td>'
            
			cols += '</tr>'
			newRow.append(cols);
            $("#tabelaIndividual").append(newRow); 

	    });

	    $("#btnAvancar").click(function(){
	    	 $("tab2").addClass("active");
	    	 $("tab1").removeClass("active");
	    });

		$("#cursoPadrao").keydown(function(){
			var texto = $("#cursoPadrao").val();
			$("#cursoIndividual:text").val(texto);
			if(texto.length > 0)
				$("#cursoIndividual").prop('disabled', true);
			else
				$("#cursoIndividual").prop('disabled', false);
		});

		$('#modeloPadrao').on('change', function() {
			$('#modeloIndividual').val(this.val);
			if( this.value != 0)
				$("#modeloIndividual").prop('disabled', true);
			else
				$("#modeloIndividual").prop('disabled', false);
		})

		$("#corPadrao").keydown(function(){
			var texto = $("#corPadrao").val();
			$("#corIndividual:text").val(texto);
			if(texto.length > 0)
				$("#corIndividual").prop('disabled', true);
			else
				$("#corIndividual").prop('disabled', false);
		});
		
		$("#quantidadePadrao").keydown(function(){
			var texto = $("#quantidadePadrao").val();
			$("#quantidadeIndividual").val(texto);
			if(texto.length > 0)
				$("#quantidadeIndividual").prop('disabled', true);
			else
				$("#quantidadeIndividual").prop('disabled', false);
		});
	});
	</script>
</body>

</html>
