<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Novo</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <form #entityForm="ngForm">
                <div class="row">
                    <div class="col-md-6">
                        <label for="nome">Nome:</label>
                        <input [(ngModel)]="entity.nome" class="form-control" type="text" name="nome">
                    </div>
                    <div class="col-md-6">
                        <label for="preco">Preço:</label>
                        <input [(ngModel)]="entity.preco" class="form-control" type="number" name="preco">
                    </div>
                    <div class="col-md-6">
                        <label for="quantidadeMinima">Qtd mínima:</label>
                        <input [(ngModel)]="entity.quantidadeMinima" class="form-control" type="number" name="quantidadeMinima">
                    </div>
                    <div class="col-md-6">
                        <label for="quantidadeMaxima">Qtd máxima:</label>
                        <input [(ngModel)]="entity.quantidadeMaxima" class="form-control" type="number" name="quantidadeMaxima">
                    </div>
                </div>
            </form>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button class="btn btn-primary" (click)="c(entity)">Salvar</button>
            <button class="btn btn-default" (click)="d('Cross click')">Cancelar</button>
        </div>
    </div>
</ng-template>

<div class="panel panel-profile">
    <div class="container">
        <h2 class="heading">Material</h2>
        <div class="panel">
            <div class="panel-heading">
                <div class="text-center">
                    <a class="btn btn-primary" (click)="novo(content)">Novo</a>
                </div>
            </div>
            <div class="panel-body">
                <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs"
                    [enableFilter]="true" (gridReady)="onGridReady($event)">
                </ag-grid-angular>
            </div>
        </div>
    </div>
    <!-- END RIGHT COLUMN -->
</div>